.tournament-main {
    display: block;
    font-family: Verdana, Tahoma;
    font-size: 14px;
    box-sizing: border-box;
}

.tournament-main *.m-0,
.message .m-0 {
    margin: 0;
}

.message {
    padding: 0.75em 3em;
    background: #2B2D33;
}

.message-content {
    text-decoration: none;
}

.tournament-main section+section {
    margin-top: 3em;
}

.tournament-main>* {
    text-align: left;
    border-spacing: 0;
    box-sizing: border-box;
}

.tournament-main *.c-s,
.c-s,
.tournament-main *.c-c,
.c-c,
.tournament-main *.c-sb,
.c-sb,
.tournament-main *.s-s,
.s-s,
.s-sb {
    display: flex;
}

.tournament-main *.c-sb,
.c-sb,
.s-sb {
    justify-content: space-between;
}

.tournament-main *.c-c,
.c-c {
    justify-content: center;
}

.tournament-main *.c-s,
.c-s,
.tournament-main *.c-c,
.c-c,
.tournament-main *.c-sb,
.c-sb {
    align-items: center;
}

.tournament-main *.c-s,
.tournament-main *.s-s {
    justify-content: flex-start;
}

.tournament-main *.s-s,
.s-sb {
    align-items: flex-start;
}

.tournament-logo {
    margin-left: 2.25em;
    margin-bottom: 1.5em;
    margin: 1.5em 0 1.5em 2.25em;
}

.title-xl,
.title-l {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    vertical-align: top;
}

.title-xl {
    font-size: 2.285em;
    line-height: 100%;
    margin-bottom: 0.3em;
    letter-spacing: 0.04em;
}

.title-l {
    font-size: 1.71em;
    line-height: 100%;
    margin-bottom: 0.3em;
}

.title-sm {
    font-weight: bold;
    font-size: 1.12em;
    margin: 0;
    margin-bottom: 0.25em;
}

.bold,
p.bold {
    font-weight: bold;
}

.color-white {
    color: #fff;
}

.color-black {
    color: #000000;
}

.color-gray {
    color: #585858;
}

.tournament-head {
    background: #F3F3F3;
}

.tournament-wraper {
    max-width: 650px;
    margin: 0 auto;
}

.descr {
    font-weight: normal;
    font-size: 1em;
    line-height: 140%;
    margin: 0.5em 0 0.5em 0;
}

.descr-sm {
    font-size: 1.12em;
    max-width: 576px;
}

.tournament-info .descr {
    max-width: 520px;
}

button.cta,
.cta,
.btn {
    border: none;
    height: auto;
    border-radius: 0.35em;
    cursor: pointer;
    transition: 200ms ease-in;
    transition-property: background;
    will-change: background;
    font-weight: 400;
}

button.btn-sm,
.tournament-input,
.btn-sm {
    padding: 0.6em 1.5em;
}

button.button-sub {
    background: #F3F3F3;
    color: #000000;
}

button.button-sub:hover {
    background: #e0e0e0;
}

.btn.close-message:hover {
    background: #ccb800;
}

input.tournament-input {
    font-size: 1em;
}

input.tournament-input:focus {
    outline: none;
}

input.inline-input {
    height: 1em;
}

.tournament-input {
    border-radius: 0.35em;
    width: 100%;
    max-width: 326px;
    margin-right: 0.75em;
    border: none;
}

.main-cta {
    margin-top: 1.5em;
    font-size: 1em;
    line-height: 1em;
    padding: 1.25em 4em;
    background: #FBE305;
    color: #453D1A;
}

.main-cta:hover {
    background: #e2cc05;
}

.tournament-head {
    padding: 3em 3em 2em 3em;
}

.block-round {
    border-radius: 0.75em;
    overflow: hidden;
}

.tournament-sub {
    background: #A6A6A6;
    padding: 1.5em 3em 4em 3em;
}

.tournament-sub-form {
    margin-top: 1.1em;
    display: flex;
}

.block-padding {
    padding: 0em 2em 0em 2em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    box-sizing: border-box;
}

.col-50 {
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

.icon {
    position: relative;
}

.icon img,
.icon svg {
    width: 100%;
}

.bg-icon {
    border-radius: 14px;
    background: #FEE600;
}

.icon-m {
    width: 3.64em;
    height: 3.64em;
    flex: 0 0 3.64em;
    user-select: none;
    margin-right: 1.25em;
}

.icon-xl {
    width: 4.75em;
    height: 4.75em;
    flex: 0 0 4.75em;
    margin-right: 1em;
}

.icon-s img,
.icon-s svg {
    width: 1.75em;
    height: 1.75em;
    margin-right: 0.5rem;
}

.icon-m img {
    max-width: 2.1em;
}

.icon-text {
    margin-top: 1.5em;
}

.tournament-calendar img {
    width: 100%;
}

.tournament-calendar {
    margin-top: 1.5em;
}

.tournament-icon {
    vertical-align: top;
    width: 25px;
    height: 25px;
}

.tournament-icon img {
    width: 2.5em;
    height: 2.5em;
}

.task-unswer {
    background: #fff;
    color: #000000;
}

.task-unswer:hover {
    background: #f8f8f8;
}

.answerlink.task-unswer {
    margin: 0;
}

.with-math {
    margin-bottom: 0.7em;
}

.tournament-tasks {
    background: #F5F5F5;
    padding-bottom: 3em;
    padding-top: 3em;
}

.task .puzzle {
    padding-bottom: 0.5em;
}

.task+.task,
.user-rating,
.tasks-wrapper {
    margin-top: 1.5em;
}

.task-inprogress {
    position: relative;
    user-select: none;
    pointer-events: none;
}

.task-inprogress:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: 10;
}

.inprogress-text {
    color: #ACACAC;
    margin: 0;
    margin-top: 0.7rem
}

.user-rating {
    background: #DEDEDE;
    padding: 0.75em 1em;
    border-radius: 0.75em;
    margin-bottom: 3em;
}

.rating-table {
    width: 100%;
    max-width: 320px;
}

.rating-title {
    text-align: left;
    margin-bottom: 0.3em;
}

.rating-table td {
    font-size: 14px;
}

.rating-col-name {
    padding-bottom: 0.5em;
}

.table-separator {
    padding-top: 0.5em;
    border-top: 1px solid #9F9F9F;
}

.col-number {
    color: #949494;
}

.col-number::after {
    content: ' ';
}

.tournament-questions+.tournament-questions {
    margin-top: 1em;
}

.has-hide-panel {
    cursor: pointer;
    transition: 200ms ease-in;
    transition-property: opacity;
    will-change: opacity;
    user-select: none;
}

.has-hide-panel:hover {
    opacity: 0.6;
}

.has-hide-panel .icon-sm {
    margin-top: 4px;
    transition: 100ms ease-in;
    transition-property: transform;
    transform: rotate(0deg);
}

.task-show .has-hide-panel .icon-sm {
    transform: rotate(90deg);
}

.hidden-tasks-wrapper .tasks-wrapper {
    display: none;
}

.tournament-questions:last-child .user-rating {
    margin-bottom: 0;
}

.award-img img {
    width: 100%;
}

.award-img {
    margin-bottom: 1em;
}

ul.common-list {
    list-style: none;
    padding-left: 1.75em;
}

ul.common-list li+li {
    margin-top: 0.25em;
}

ul.common-list li {
    position: relative;
}

ul.common-list li:before {
    content: "—";
    position: absolute;
    left: -25px;
    top: 0;
}

a.common-link {
    display: inline-block;
    margin-top: 0.5em;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: 120ms ease-in;
    transition-property: opacity;
}

a.common-link:hover {
    opacity: 0.7;
}

.rating-inprogress tbody td {
    filter: blur(4px);
    user-select: none;
    pointer-events: none;
}

.btn.close-message {
    padding: 0.45em;
    background: #FEE600;
}

.tournament-archive .title-xl {
    margin-bottom: 0.5em;
}

.tournament-archive .title-l {
    margin-bottom: 0em;
    margin-top: 0.7em;
}

.tournament-archive .tournament-questions+.tournament-questions {
    margin: 0;
}

.tournament-archive .hidden-tasks-wrapper .title-l {
    margin-top: 0.2em;
}

.processing-icon svg {
    width: 100%;
}

.processing-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    stroke: #949494;
}

.circle {
    transform-origin: center;
    stroke-dasharray: 60;
    stroke-width: 1.5;
    stroke-dashoffset: 120;
    animation: move 2s infinite linear;
}

@keyframes move {
    from {
        transform: rotate(0deg);
    }
    to {
        stroke-dashoffset: 0;
        transform: rotate(360deg);
    }
}

.preloader-inner {
    padding: 100px 0;
    background: #fafafa;
}

.c-12 {
    width: 100%;
    max-width: calc(100% / 17 * 12);
    flex: 0 0 calc(100% / 17 * 12);
    box-sizing: border-box;
    padding: 0 3px;
    position: relative;
}

.c-1 {
    width: 100%;
    max-width: calc(100% / 17 * 1);
    flex: 0 0 calc(100% / 17 * 1);
    box-sizing: border-box;
    padding: 0 3px;
    position: relative;
}

.c-2 {
    width: 100%;
    max-width: calc(100% / 17 * 2);
    flex: 0 0 calc(100% / 17 * 2);
    box-sizing: border-box;
    padding: 0 3px;
    position: relative;
}

.c-3 {
    width: 100%;
    max-width: calc(100% / 17 * 3);
    flex: 0 0 calc(100% / 17 * 3);
    box-sizing: border-box;
    padding: 0 3px;
    position: relative;
}

.c-4 {
    width: 100%;
    max-width: calc(100% / 17 * 4);
    flex: 0 0 calc(100% / 17 * 4);
    box-sizing: border-box;
    padding: 0 3px;
    position: relative;
}

.c-8 {
    width: 100%;
    max-width: calc(100% / 17 * 8);
    flex: 0 0 calc(100% / 17 * 8);
    box-sizing: border-box;
    padding: 0 3px;
    position: relative;
}

.c-5 {
    width: 100%;
    max-width: calc(100% / 17 * 5);
    flex: 0 0 calc(100% / 17 * 5);
    box-sizing: border-box;
    padding: 0 3px;
    position: relative;
}

.c-6 {
    width: 100%;
    max-width: calc(100% / 17 * 6);
    flex: 0 0 calc(100% / 17 * 6);
    box-sizing: border-box;
    padding: 0 3px;
    position: relative;
}

.c-10 {
    width: 100%;
    max-width: calc(100% / 17 * 10);
    flex: 0 0 calc(100% / 17 * 10);
    box-sizing: border-box;
    padding: 0 3px;
    position: relative;
}

.row-c {
    display: flex;
    margin-bottom: 5px;
    margin-left: -3px;
    margin-right: -3px;
    position: relative;
}

.task-name {
    background: #F5F5F5;
    color: #8C8C8C;
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 6px;
}

.task-name.active-task {
    background: #FEE600;
    color: #000000;
}

.empty-name {
    padding-left: 5px;
    height: 20px;
    box-sizing: border-box;
}

.c-date {
    color: #BABABA;
    font-size: 10px;
}

.c-line {
    border: 0.2px dashed #dfdfdf;
    position: absolute;
    width: calc(100% - 6px);
    top: 0;
    left: 3px;
}

.m-mark {
    position: absolute;
    height: 7px;
    top: -3px;
    left: 4px;
    border-left: 2px solid #FEE600;
}

.h-mark {
    position: absolute;
    height: 5px;
    top: -1.5px;
    border-left: 1px solid #9F9F9F;
    left: 2px;
}

.time-line {
    margin-top: 10px;
}

.c-dot {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #FEE600;
}

.time-line .row-c {
    margin-bottom: 8px;
}

.active-period {
    position: absolute;
    border-bottom: 2px solid #FEE600;
    top: 0;
    left: 3px;
    width: 100%;
}

.task-group {
    margin-top: 10px;
}

.task-group .task-name+.task-name {
    margin-top: 5px;
}